PORT=3000
CORS_ORIGIN=http://localhost:3000
MAX_FILE_SIZE_BYTES=5242880

S3_ENDPOINT=https://s3.amazonaws.com
S3_REGION=us-east-1
S3_BUCKET=chgroup-incidents-private
S3_ACCESS_KEY_ID=change-me
S3_SECRET_ACCESS_KEY=change-me
S3_FORCE_PATH_STYLE=false
